.footer {
  &__network {
    padding: 35px 0;
  }

  .footer-logo{
    width:150px;
  }

  .footer-link{
    display:block;
    font-family: 'Druk Wide Web';
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 12px;
    color: $black;
  }
  .follow{
    padding-left:30px;
  }

  .ex-button{
    display:block;
    padding:15px;
    text-align:center;
    font-family: 'Circular Book';
    font-weight:bold;
    font-size: 18px;
    
  }
  .network-carousel {
    .owl-carousel .owl-item {
      height: 95px;
    }
  }

  &__client-logo {
    width: auto;
    max-width: 100%;
    max-height: 88px;
  }

  &__network-title {
    font-family: 'Freight';
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
  }

  &__link-container {
    @include media-breakpoint-down(sm) {
      padding-top: 19px;
    }
  }

  &__links {
    background-color: $gray-1;
    position: relative;

    &::before {
      content: ' ';
      background-color: $gray-1;
      position: absolute;
      height: 100%;
      width: 100%;
      left: -100%;
      top: 0;
      z-index: -1;
    }

    &::after {
      content: ' ';
      background-color: $gray-1;
      position: absolute;
      height: 100%;
      width: 100%;
      right: -100%;
      top: 0;
      z-index: -1;
    }
  }

  &__link {
    padding-right: 22px;
    color: $gray-dark;
    display: block;
    font-size: 12px;

    @include media-breakpoint-up(sm) {
      font-size: 14px;
      display: inline-block;
    }

    @include xdSpacing(68);
    @extend %link-hover;
  }

  &__social-text {
    font-size: 17px;
  }

  &__logo {
    width: 178px;
    height: auto;
    padding: 0 0 15px;

    @include media-breakpoint-up(sm) {
      padding: 15px 0;
    }
  }

  &__logo-div {

    @include media-breakpoint-down(sm) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $gray-5;
        margin-bottom: 10px;
        bottom: 5px;
      }
    }
  }

  .exhibitor-login-wrapper {
    @include media-breakpoint-down(sm) {
      padding: 0;

      .button--login {
        text-align: left;
        padding-left: 15px;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }

    .button--login {
      display: block;
    }
  }

  &__social-text, &__social-links {
    display: inline-block;
  }

  &__social-text {
    font-family: 'Lobster';
    margin-left: 15px;
    margin-right: 10px;
  }

  &__social-links {
    margin: 0 auto 0 0;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }

  &__social-links .social-media__icon:not(:last-child) {
    margin-right: 20px;

  }

  &__empty-div {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

}