.featured-pages {
  background-color: $gray-4;
  padding: 30px 0;

  //Grid settings
  .grid {
    width: 100%;
  }

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-sizer,
  .grid-item {
    width: calc(50% - 8px);

    @include media-breakpoint-up(md) {
      width: calc(31%);
    }
  }

  .grid-item {
    float: left;
    position: relative;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
    }

    a:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  &__filters {
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: white;
  }

  &__filter {
    background-color: $white;
    color: $black;
    font-family: 'Helvetica Neue';
    @include xdSpacing(80);
    background-image: none;
    border: none;

    font-size: 17px;
    font-weight: 500;
    padding: 13px 20px 7px;
    display: inline-block;
    cursor: pointer;

    &.last {
      border-right: none;
    }

    &:hover {
      color: $black;
      text-decoration: none;

      &.is-checked {
        color: $white;
      }
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__filter.is-checked {
    background-color: $primary;
    color: $white;
  }

  .read-more {
    display: inline-block;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
      padding: 10px 20px;
    }
  }

  &__card {
    text-align: center;
  }

  &__card-img-wrapper {
    margin: 0 auto;

    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    border-radius: 50%;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    @include media-breakpoint-up(md) {
      height: 300;
      width: 90%;
    }
  }

  &__card-img {
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__card-title {
    width: 100%;
    padding: 12px 5px;
    margin: 0;
    color: $black;
    font-family: $headingFont;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    min-height: 76px;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      font-size: 18px;
      padding: 12px 14px;
    }

    @include media-breakpoint-up(md) {
      @include xdSpacing(10);
      padding: 1.25rem 5px;
      min-height: 100px;
    }
  }

}