.info-bar {
  width: 100%;
  background-color: $secondary;
  color: $black;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  padding: 6px 5px 4px;
  display: block;
  font-family: 'Druk Wide Web';
  letter-spacing: 2px;

  .envelope-top {
    width: 20px;
    margin-right: 8px;
    margin-top: -3px;
  }

  @include media-breakpoint-up(md) {
    padding: 7px 10px;
    font-size: 12px;
    line-height: 1.4;
    @include xdSpacing(68);
    font-weight: 300;
    //  box-shadow: 0 7px 6px rgba(#000, 0.22);
  }

  &.invisible {
    display: none;
  }

  &--primary {
    background-color: $primary;
  }

  u {
    font-weight: bold;
    text-decoration: underline;
    color: $gray-dark;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
      color: $primary;
    }
  }

  &--mobile {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}