$white: #FFFFFF;
$gray-1: #FCFCFC;
$gray-2: #F4F0F0;
$gray-3: #F5F4F4;
$gray-4: #F8F8F8;
$gray-5: #EDECE8;
$gray-6: #C6C3C3;
$gray-dark: #535252;
$black: #000000;

$accent-color: #FFE18C;
$primary: #e39b85;
$primary-dark: #c97169;
$brown: #40261C;

//summer colours
$rose: #E1859D;
$lemonade: #fcdbe1;
$peach: #fdcbb9;
$turquoise: #68bcb3;

//winter colours
$lightorange: #ebaa83;
$mauvepink: #c97169; 
$stone: #f5e9e1;
$mossgreen: #b3c2bf;

// $coral: #ebaa83;
$coral: #fcdbe1;

// $blush: #c97169;
$blush: #c97169;

// $powder: #b3c2bf;
$powder: #68bcb3;
 

// $sand: #f5e9e1;
$sand: #f5e9e1;
$secondary: #fdcbb9;

$underlines-colors: (coral: #fcdbe1,
    mauvepink: #c97169,
    mossgreen: #b3c2bf,
    powder: #68bcb3,
    white: #fff,
    stone: #f5e9e1,
    lightorange: #ebaa83,
    secondary: #fdcbb9);

@each $color,
$bgcolor in $underlines-colors {
    .t-underline-#{$color} {
        background-image: linear-gradient(transparent calc(75% - 5px), $bgcolor 5px,
            );
    }

    .t-underline-#{$color}--alpha {
        background-image: linear-gradient(transparent calc(75% - 5px), rgba($bgcolor, .5) 5px,
            );
    }

    .t-underline-#{$color}--alpha>p {
        display: inline;
        background-image: linear-gradient(transparent calc(75% - 5px), rgba($bgcolor, .5) 5px,
            );
    }
}
