$white: #FFFFFF;
$gray-1: #FCFCFC;
$gray-2: #F4F0F0;
$gray-3: #F5F4F4;
$gray-4: #F8F8F8;
$gray-5: #EDECE8;
$gray-6: #C6C3C3;
$gray-dark: #535252;
$black: #000000;

$accent-color: #FFE18C;
$primary: #e39b85;
$primary-dark: #C87169;
$brown: #40261C;

$secondary: #f5e9e1;
