.clients-carousel {
  padding: 60px 0 40px;
  margin: 0 -15px;
  position: relative;
  background: $powder;

  @include media-breakpoint-up(sm) {
    padding: 20px 0;

  }

  .leaf-accent {
    display: none;

    @include media-breakpoint-up(sm) {
      position: absolute;
      display: block;
      z-index: 2;
      right: 0;
      top: -30vh;
      width: 300px;
      transform: translateX(10%);

    }
  }

  @include media-breakpoint-up(md) {
    padding: 32px 0;
  }

  .images-carousel__col {
    padding: 50px 0;

    @include media-breakpoint-up(md) {
      padding: 100px 0 150px;
    }
  }

  .images-carousel {
    position: relative;

  }

  .owl-clients {
    width: calc(100% - 100px);
    margin: auto;
  }

  .owl-carousel .owl-item {
    height: 100px;
    position: relative;

    img {
      height: 100%;
      object-fit: contain;
    }
  }



  &__nav {
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    height: 27px;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__nav button {
    position: absolute;
    background: none;
    border: none;
    z-index: 1;
    height: 30px;
    width: 20px;
    line-height: 1;
  }

  .owl-next {
    right: 0;
    background: url('../../assets/img/arrow-right.png') center / cover;
  }

  .owl-prev {
    background: url('../../assets/img/arrow-left.png') center / cover;
  }

}


.additional-carousel {
  .images-carousel__col {
    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
    }
  }
}