.competition-card-big {
  background-color: $white;
  position: relative;

  @include media-breakpoint-up(md) {
    background-color: $gray-4;
  }

  .container {
    padding-top: 42px;
    padding-bottom: 42px;

    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
    }
  }

  &__wrapper {
    min-height: $product-card-height;
    position: relative;
    z-index: 10;
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 310px;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      height: 110%;
      min-height: $product-card-height;
    }
  }

  &__logo-wrapper {
    position: absolute;
    background-color: $white;
    left: 0;
    top: 40px;
    padding: 16px 13px;
  }

  &__logo {
    max-width: 138px;
    height: auto;
    width: auto;
  }

  &__location {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px 12px 6px;
    background-color: $brown;
    color: $white;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    font-family: 'Helvetica Neue';

    a {
      text-decoration: underline;
      color: $accent-color;
    }
  }

  &__subtitle {
    padding: 10px 15px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: $powder;
    color: $white;
    font-family: $headingFont;
    text-transform: uppercase;
    font-size: 13px;
    @include xdSpacing(7);
  }

  &__link {
    margin-top: 30px;
    display: inline-block;
  }

  &__view-all-row {
    margin-top: 100px;

  }

}

.page-template-template-whats-on {
  .competition-card-big {
    background-color: white;
  }
}