.exhibitors {
  background-color: #fff;

  #locationExhibitorsList {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  #locationExhibitorsListMobile {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__title-row {
    padding-top: 20px;
  }

  &__title {
    font-family: $headingFont;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      padding-left: 10px;
    }
  }

  &__cards-row {
    padding: 20px 0;
  }

  &__img-wrapper {
    position: relative;
    padding: 8px;
    height: 138px;

    @include media-breakpoint-up(md) {
      height: 270px;
      padding: 15px;
    }

    .exhibitors__img {
      transition: 0.2s ease-in-out;
      background-color: $gray-5;
    }
  }

  &__view-all {
    text-transform: uppercase;
    margin: auto;
  }

  &__title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 5px;
    z-index: 2;
    width: 80%;
    text-align: center;
    display: table;

    @include media-breakpoint-up(md) {
      width: 75%;
      padding: 10px;
      min-height: 62px;
    }

    p {
      font-family: $headingFont;
      font-size: 14px;
      line-height: normal;
      color: $brown;
      margin-bottom: 0;
      display: table-cell;
      vertical-align: middle;
      @include xdSpacing(10);

      @include media-breakpoint-up(md) {
        font-size: 1.3em;
        color: $primary;
      }
    }

  }

  &__img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  &__button-row {
    padding-bottom: 40px;
  }

}

.locations-template-default {
  .exhibitors {
    &__title {
      font-size: 36px;
      display: block;
      margin-top: 20px;
      margin-bottom: 5px;
      padding-left: 15px;
    }
  }
}


.exibitors-about-visitors {
  @include media-breakpoint-up(md) {
    padding: 50px 0 100px;
  }
}