.exhibitor-of-the-week {
  background-color: $sand;
  padding: 40px 0;

  @include media-breakpoint-up(md) {
    padding: 100px 0 150px;
    margin: 80px auto 0;

  }

  .col-12 {
    z-index: 10;
  }

  .exhibitor {
    &__wrapper {
      min-height: 311px;
      height: auto;
      position: relative;

      @include media-breakpoint-up(md) {
        min-height: $product-card-height;
      }
    }

    &__content {
      padding: 20px 20px 60px;

      @include media-breakpoint-up(md) {
        padding: 0 15px 0 0;
      }
    }

    &__images-wrapper {
      position: relative;
      min-height: 311px;
      height: auto;

      @include media-breakpoint-up(md) {
        min-height: $product-card-height;
      }
    }

    &__image {
      max-width: 100%;
      object-fit: cover;
    }

    &__logo {
      width: 100%;
    }

    &__logo-circle {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
    }

    &__logo-wrapper {
      position: absolute;
      width: 150px;
      height: 150px;
      left: 0;
      top: 0;
      z-index: 1;

      @include media-breakpoint-up(sm) {
        width: 250px;
        height: 250px;

      }
    }

    &__link {
      margin-top: 30px;
      display: inline-block;
    }

    &__circle-button {
      width: 150px;
      height: 150px;
      background: $powder;
      z-index: 2;
      font-family: 'Circular Book';
      line-height: 1;
      font-weight: 700;
      top: 120px;

      .t-stroked {
        font-weight: 400;
      }

      @include media-breakpoint-up(sm) {
        top: 250px;
        width: 200px;
        height: 200px;
        font-size: 35px;
      }
    }

  }

  .dots-accent {
    position: absolute;
    right: 0;
    top: -30vh;
    z-index: 1;
    transform: translateX(50%);
  }

  .confetti-accent {
    bottom: -5vh;
    position: absolute;
    left: 0;
    z-index: 2;
    transform: translateX(-50%) rotate(180deg);

    @include media-breakpoint-up(md) {
      bottom: -20vh;

    }
  }

}

.about__image-wrapper.about__img-circle {
  position: relative;
  width: 100%;
  padding-top: 100%;

  border-radius: 50%;
  overflow: hidden;


  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}




.exhibitor__image-wrapper.exhibitor__img-circle {
  position: relative;
  width: 100%;
  padding-top: 100%;

  border-radius: 50%;
  overflow: hidden;


  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
