.exhibitor-single {

  font-family: Helvetica Neue;
  color: $gray-dark;
  font-size: 14px;
  line-height: 24px;

  &__wrapper {
    margin: 15px 0;

    @include media-breakpoint-up(md) {
      padding: 30px 0 20px;
      margin: 0;
    }

    p {
      width: 100%;
      margin-bottom: 0;
    }
    a {
      color: $gray-dark;
      width: 100%;
      display: block;
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }

    h3 {
      color: $primary;
      text-transform: uppercase;
    }

    .phone-wrapper, h3 {
      margin: 22px 0 5px;
      font-size: 16px;
      width: 100%;
    }

    .phone-wrapper {
      .phone {
        color: $primary;
      }

      a {
        display: inline-block;
        width: auto;
      }
    }
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    color: $brown;
    margin: 30px 0 15px;

    @include media-breakpoint-up(md) {
      margin: 5px 0 20px;
    }
  }

  &__image-wrapper {
    background-color: $gray-4;
    padding: 25px;
  }

  &__image-wrapper img {
    max-width: 100%;
    max-height: 200px;

    @include media-breakpoint-up(md) {
      max-height: 100%;
    }
  }

  &__social-media {
    margin: 25px 0 40px;

    a {
      display: inline-block;
      width: auto;
      font-size: 20px;
      margin-right: 15px;
      color: $black;
      transition: 0.2s ease-in-out;
    }
  }

  &__buttons {
    .button--light-coral {
      display: inline-block;
      color: $primary;
      width: 100%;
      text-align: center;

      @include media-breakpoint-up(md) {
        width: auto;
        margin-right: 20px;
      }

      &:hover {
        color: $white;
      }
    }

    .button--light-coral:first-child {
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
}