.filters-mobile {
  margin-bottom: 15px;
}

.filters-mobile__title {
  margin-top: 10px;
  display: inline-block;
  font-family: 'Source Sans Pro';
  font-size: 17px;
  line-height: 31px;
  color: $black;
}

.filters-mobile .select-style {
  float: right;
  width: 249px;
  position: relative;
  height: 100%;
}

.select-style {
  position: relative;

  &::after {
    position: absolute;
    content: ' ';
    border-top: 0.3em solid $black;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    vertical-align: 0;
    transition: 0.2s ease-in-out;
    right: 13px;
    top: 0;
    bottom: 0;
    height: 5px;
    margin: auto;
  }

}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.filters-select-dropdown {
  width: 100%;
  background-color: white;
  border: 1px solid #f4f4f4;
  padding: 11px;
  border-radius: 0;
  font-style: italic;
  height: 100%;
}

.filters-accordion {
  margin: 0;
  line-height: 1;
  padding: 0;

  .card {
    background: none;
    margin-bottom: 0;
  }

  .btn-link.exhibitor-list__title-top {
    text-align: center !important;
    border: 2px solid #F8F8F8;
    text-transform: none !important;
    font-family: Helvetica Neue;
    font-size: 20px !important;
    font-weight: 400;
    color: #000000;
    margin: 0 0 8px 0;
    position: relative;
    padding: 15px 20px 10px !important;
  }

  .btn-link::after {
    position: absolute;
    content: '';
    right: 15px;
    border-top: 0.25em solid transparent;
    border-right: 0;
    border-bottom: 0.25em solid transparent;
    border-left: 0.25em solid $black;
    vertical-align: 0;
    transition: 0.2s ease-in-out;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 10px;
  }

  .btn-link[aria-expanded="true"]::after {
    transform: rotate(90deg);
  }

  .card-body {
    padding: 0;
  }

  .filter {
    padding: 0 !important;;
    margin: 0 !important;
    font-size: 14px;
    line-height: 27px;
  }
}