

.header-carousel-simple {
  height: 296px;
  position: relative;

  @include media-breakpoint-up(md) {
    height: 430px;
  }

  &__title {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: $headingFont;
    font-weight: 700;
    letter-spacing: 2px;
    color: $white;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 1.1;
    @include xdSpacing(-21);
    text-shadow: 0 10px 10px rgba($black, 0.38);

    @include media-breakpoint-up(md) {
      max-width: 50vw;
      top: 10vh;
      font-size: 57px;
    }
  }

  .item {
    height: 293px;

    @include media-breakpoint-up(md) {
      height: 430px;
    }
  }

  .item.image {
    background-size: cover;
    background-position: center;
  }

  .video-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
  }

  .featured-at {
    width: 100%;
    background-color: rgba($black, 0.9);
    bottom: 0;
    position: absolute;
    text-align: center;
    z-index: 3;
    padding: 10px 10px 6px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding: 10px;
      background-color: $black;
    }

    &::before {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url('/assets/img/patterns/info-card-bottom.png');
      width: 20%;
      height: 100%;
      z-index: -1;
      background-repeat: no-repeat;
      background-position-y: -212px;
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    &::after {
      content: ' ';
      position: absolute;
      right: 0;
      top: 0;
      background-image: url('/assets/img/patterns/info-card-top.png');
      width: 50%;
      height: 100%;
      z-index: -1;
      background-repeat: no-repeat;
      background-position-y: -110px;
      background-position-x: center;
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  .featured-at ul>* {
    display: inline-block;
    font-family: Helvetica Neue;
    font-weight: 500;
    font-size: 14px;
  }

  .featured-at span {
    color: $white;
  }

  .featured-at ul>span {
    display: block;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  .featured-at ul {
    margin-bottom: 0;
  }

  .featured-at ul li a {
    color: $accent-color;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      font-weight: normal;
    }
  }

  .featured-at ul li {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(md) {
      width: auto;
      float: none;
      padding-left: 14px;
      display: inline-block;
      justify-content: unset;
      margin-bottom: 0;
    }

    &::after {
      content: ' ';
      position: absolute;
      height: 80%;
      width: 1px;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $primary;

      @include media-breakpoint-up(md) {
        height: 90%;
      }
    }

    &:nth-child(odd)::after {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    @include media-breakpoint-up(md) {
      &:not(:last-child) {
        padding-right: 18px;
      }

      &:last-child::after {
        display: none;
      }
    }

    span {
      margin: 0 15px 0 0;
      font-size: 11px;
      float: right;
      padding-top: 3px;

      @include media-breakpoint-up(md) {
        float: none;
        margin: 0 0 0 3px;
        padding-top: 0;
      }
    }
  }
}

.homepage {
  .header-carousel-simple {

    &__title {
      top: 130px;

      @include media-breakpoint-up(md) {
        top: 100px;
        font-size: 57px;
      }

      @include media-breakpoint-up(lg) {
        top: 15%;
        font-size: 57px;
      }

      @media(min-width: 1600px) {
        top: 30%;
        font-size: 75px;
      }

    }
  }
}