.info-banner {
  position: relative;

  background-color: $primary-dark;
  padding: 50px 0 100px;

  z-index: 999;

  .confetti-accent {
    bottom: 0;
    right: 0;
    transform: translate(20%, 50%);
    z-index: 0;

    @include media-breakpoint-up(md) {
      top: 0;
      bottom: unset;
      transform: translate(10%, -30%);
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 120px;
    padding: 30px 0;

  }


  &__text {
    margin-bottom: 0;

    color: $black;
    font-family: 'Circular Book';
    font-weight: 700;
    font-size: 34px;
    line-height: 1.4;
    text-align: center;

    @include xdSpacing(10);

    @include media-breakpoint-up(md) {
      text-align: left;
      font-size: 34px;
      line-height: 1.6;

    }

    a:hover {
      color: $white;
    }
  }

  .button--circle {
    right: 15px;

    @include media-breakpoint-up(md) {
      right: 0;
      transform: translateY(-50%);

    }
  }
}
