.instagram {
    padding: 50px 0 100px;

    @include media-breakpoint-up(md) {
        padding-bottom: 100px;
    }

    .container {
        position: relative;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__profile-link {
        font-family: $baseFont;
        font-weight: 700;
        font-size: 30px;

        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }

    &__circle-button {
        background: $powder;
        color: transparent;
        z-index: 2;
        right: 0;
        width: 50vw;
        height: 50vw;
        max-width: 180px;
        max-height: 180px;
        bottom: 0;

        span {
            transform: rotate(15deg);
        }

        @include media-breakpoint-up(sm) {
            top: 0;
            bottom: unset;
            width: 120px;
            height: 120px;
            font-size: 20px;
            z-index: 0;
        }

        @include media-breakpoint-up(md) {
            width: 180px;
            height: 180px;
            top: 50px;
            font-size: 34px;
            z-index: 2;
        }

    }

    &__feed-row {
        margin-top: 50px;
    }
}


.single-locations {
    .instagram {
        padding: 180px 0;
        background: $gray-2;

        &__circle-button {
            left: 5vw;
            right: unset;
            bottom: 2vh;

            span {
                transform: rotate(-15deg);
            }

            @include media-breakpoint-up(md) {
                left: 0;
                bottom: unset;
            }

        }

        @include media-breakpoint-up(md) {
            padding: 100px;
        }
    }
}