.inspiration-cards,
.inspiration-section {

  #tutorialSingleModal {
    width: 0;

    &.tutorial-card {
      display: none;
    }

    .grid-item {
      height: 0;
    }
  }

  .grid {
    width: 100%;
  }

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-sizer,
  .grid-item {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      width: 33%;
    }
  }

  .grid-item {
    float: left;
    position: relative;
    margin-bottom: 0;
    padding: 15px 0;

    @include media-breakpoint-up(md) {
      padding: 15px;
    }

    &.twitter,
    &.instagram,
    &.tutorial {
      cursor: pointer;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .card-img-top {
      width: 100%;
      position: relative;
      z-index: 5;
    }

    .card-body {
      position: relative;
      z-index: 10;
      padding: 20px;

      @include media-breakpoint-up(md) {
        padding: 30px;
      }

      .card-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      .card-text {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: $primary-dark;
      }
    }

    &.post {
      &__body {
        background-color: $white;
      }

      &__title {
        color: $primary;
      }
    }

    &.twitter {
      video {
        width: 100%;

        @include media-breakpoint-up(md) {
          height: auto;
        }
      }

      .card-body {
        background-color: $primary;
        padding: 100px 30px;
        text-align: center;


        .card-text {
          color: $white;
          font-family: $headingFont;
          font-size: 22px;
          font-weight: 400;
          line-height: 27px;
          word-wrap: break-word;
        }

        .fa-twitter {
          position: absolute;
          right: 16px;
          top: 16px;
          color: $white;
          font-size: 19px;
        }
      }

      a:hover {
        text-decoration: none;
      }
    }

    &.instagram {

      .card-body,
      .modal-img-wrapper {
        padding: 0;
        width: 100%;
        position: relative;
        overflow: hidden;
      }

      .card-body {
        height: 355px;
      }

      .modal-img-wrapper {
        height: 400px;
      }

      .card-body-img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      i.fa-instagram {
        position: absolute;
        right: 15px;
        top: 15px;
        margin: auto;
        color: #fff;
        font-size: 22px;
      }
    }
  }

  .filters-mobile {
    margin: 15px 0px 5px;
  }

  .loading-gif {
    width: 44px;
    margin: 20px auto;
    display: none;

    &.show {
      display: flex;
    }
  }

  #loadMoreMedia {
    margin: 0 15px;
  }

  .modal {
    z-index: 1060;

    .modal-dialog {
      border-radius: 0;

      @include media-breakpoint-up(md) {
        max-width: 560px;
      }

      .modal-header {
        background-color: $primary;
        border-radius: 0;

        .close {
          color: $white;
          font-family: 'Helvetica Neue';
          font-size: 40px;
          font-weight: 400;
          padding: 0px 10px;
        }
      }

      .modal-body {
        padding: 30px 45px;

        img,
        iframe {
          width: 100%;
        }

        .text-wrapper {
          border: 1px solid #F0F2F4;
          padding: 20px;

          .heading {
            margin-bottom: 15px;
            position: relative;

            img {
              max-width: 50px;
              display: inline-block;
              margin-right: 10px;
              vertical-align: top;
            }

            h5 {
              display: inline-block;
              font-size: 14px;
              color: $black;
              line-height: 1;
              font-weight: 700;
              margin-bottom: 0;
              margin-top: 10px;

              span {
                font-weight: 400;
                display: block;
                margin-top: 3px;
              }
            }

            .fab {
              position: absolute;
              right: 0;
              top: 0;
              color: #16A0F3;
            }
          }

          .modal-text {
            p {
              color: $gray-dark;
              font-size: 14px;
              line-height: 21px;
              margin-bottom: 5px;

              &.data {
                font-size: 13px;
                margin-bottom: 10px;
              }
            }

            a {
              color: $primary;
              font-size: 12px;
              text-decoration: underline;
              margin-right: 30px;
            }
          }

          .modal-title {
            font-family: 'Helvetica Neue';
            font-weight: 700;
          }
        }
      }
    }
  }

  .tutorial-modal .modal-dialog {
    @include media-breakpoint-up(lg) {
      max-width: 700px;
    }
  }

}