.newsletter-modal {
  z-index: 1070;

  .modal-body {
    padding: 36px 50px;
  }

  .modal-title {
    font-family: 'Freight';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $brown;
    margin-bottom: 30px;
    padding: 0 10px;

    @include media-breakpoint-up(lg) {
      font-size: 32px;
      line-height: 37px;
    }
  }

  .modal-dialog {
    width: 100%;
    max-width: 1100px;
    padding: 0 10px;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
    }
  }

  tr {
    width: 100%;
    display: inline-block;
    margin-bottom: 19px;
    font-family: 'Helvetica Neue';
    color: $gray-dark;
    font-size: 14px;

    @include media-breakpoint-up(lg) {
      width: 50%;
      font-size: 20px;
    }

    td {
      display: inline-block;
    }

    td:first-child {
      padding-right: 10px;
    }

    input, select {
      border: 1px solid #F0F2F4;
      border-radius: 4px;
      padding: 10px 16px;
      width: 100%;
    }

    select {
      height: 52px;
      background-color: white;
    }
  }

  tr:not(.w-100) {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    td:first-child {
      width: 35%;
      text-align: right;
      font-style: italic;
    }

    tr:nth-child(n+2) {
      @include media-breakpoint-up(lg) {
        padding-right: 30px;
      }
    }

    td:last-child {
      width: 60%;

      @include media-breakpoint-up(lg) {
        width: 62%;
      }
    }
  }

  tr.secondary {
    font-size: 12px;

    td {
      display: flex;
    }

    input {
      width: auto;
      height: auto;
      font-size: 30px;
      margin-right: 10px;
    }

    span {
      font-style: normal;
    }

    .fields-info {
      margin-left: 23px;
    }
  }

  input[type="submit"] {
    float: right;
    border-radius: 0;
    border: 1px solid #fa8371;
    color: #fa8371;
    text-transform: uppercase;
    font-style: normal;
    padding: 10px 20px 6px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    @include xdSpacing(10);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #fff;

    &:hover {
      background-color: #fa8371;
      color: white;
    }
  }

  .g-recaptcha {
    float: right;
  }
}

.single-competition-form {
  table {
    padding: 0 15px;
  }

  p {
    width: 100%;
    padding: 0 15px;

    input {
      display: block;
      width: 150px;
    }
  }
}