.post-card {
  &__wrapper {
    position: relative;
    border: 1px solid $gray-5;
  }

  &__img-wrapper {
    position: relative;
    height: 215px;
    background-size: cover;
    background-position: center;
  }

  &__category {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 6px 18px;
    background-color: $primary-dark;
    font-family: 'Helvetica Neue' !important;
    font-size: 18px;
    line-height: 24px;
    color: $white;
  }

  &__body {
    padding: 19px;
    min-height: 150px;
  }

  &__title {
    font-family: $headingFont;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  &__footer {
    padding: 12px 0;
    margin: 0 19px;
    border-top: 1px solid $gray-5;
  }

  &__date,
  &__link {
    font-family: 'Helvetica Neue';
    font-size: 14px;
    line-height: 23px;
    color: $black;
  }

  &__link:hover {
    color: $primary-dark;
  }
}
