.social-media {
  width: 100%;
  margin: auto;
  padding: 10px;

  &__icon {
    color: $black;
    font-size: 27px;

    @extend %link-hover;
  }
}

.footer__social-links {
  .social-media__icon {
    font-size: 14px;

  }
}

