.tabs-component {
  background-color: #F8F8F8;
  padding: 37px 0 50px;

  .cta-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    a {
      text-align: center;
      flex: 0 0 calc(50% - 7.5px);
    }
  }

  .container {
    background-color: #fff;
    border: 1px solid #F0F2F4;
    border-top: none;
    padding: 15px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }

    .row {
      margin: 0;

      .col-lg-12 {
        padding: 0;

        .nav-tabs {
          @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
          }

          .nav-item {

            @media screen and (max-width: 767px) {
              width: 100% !important;
            }
          }

          .nav-item .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid #F0F2F4;
            border-left: none;
            border-radius: 0;
            text-align: center;
            padding: 18px 1rem;
            font-family: $headingFont;
            color: $black;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 1.4;
            height: 100%;

            &.active {
              background-color: $blush;
              transition: all 0.3s ease;
              color: #F8F8F8;
            }

          }

          .nav-item:last-child .nav-link {
            border-right: none;
          }

        }

        .tab-content {
          .tab-pane {
            margin: 0;

            &.show {
              display: flex;
            }

            .col-lg-6 {
              padding: 40px 15px 30px 20px;

              .title {
                font-family: $headingFont;
                color: $black;
                line-height: 39px;
                font-size: 2.25rem;
                text-transform: uppercase;
              }

              .content {
                color: #535252;
                line-height: 24px;
                font-size: 0.875rem;
                font-family: $baseFont;
              }

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}