body {
  font-family: Helvetica Neue;
  font-weight: 400;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  overflow-y:scroll;
  -webkit-overflow-scrolling: touch; 
}

.header {
  flex: 0 0 auto;
  position: relative;
  max-width: 100%;

  &:after {
    background-color: rgba(61, 61, 61, 0.42);
    position: absolute;
    opacity: 0;
    content: ' ';
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.75s ease-in-out;
  }

  &.menu-visible:after {
    z-index: 20;
    opacity: 1 !important;
    position: fixed;
  }
}

.header-menu {
  position: relative;
  max-width: 100%;
}

.main {
  flex: 1 0 auto;
  overflow-x: hidden;
}

.footer {
  flex-shrink: 0;
  margin-top: 85px;
  overflow-x: hidden;

  @include media-breakpoint-up(md) {
    margin-top: 158px;
  }
}

.underline {
  text-decoration: underline;
}

.container-fluid-mobile {
  @include media-breakpoint-down(sm) {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;


  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(1360px) {
      transform: translateY(-25%);
    }
  }
}

.video-container {
  position: relative;
  overflow: hidden;
}

a {
  &:hover {
    color: $primary-dark;
    text-decoration: none !important;
  }
}

.content ul {
  li:not(.nav-item) {
    margin-left: 1em;
  }

  li:not(.nav-item)::before {
    content: "•";
    color: $primary;
    display: inline-block;
    width: 1em;
    margin-left: -1em
  }
}