@media not all and (min-resolution: 0.001dpcm) {
  .modal-backdrop {
    display: none !important;
    z-index: -9999 !important;
    opacity: 0 !important;
  }

  .modal-dialog {
    margin: 8rem auto !important;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .modal-backdrop {
    display: none !important;
    z-index: -9999 !important;
    opacity: 0 !important;
  }

  .modal-dialog {
    margin: 8rem auto !important;
  }
}

.hide-on-mobile {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .hide-on-mobile {
    display: block !important;
  }
}

.hide-on-desktop {
  display: block !important;
}

@media screen and (min-width: 992px) {
  .hide-on-desktop {
    display: none !important;
  }
}

.featured-at-noline:after {
  display: none;
}

.logged-in {
  #headerMenu {
    margin-top: 46px;
  }

  #wpadminbar {
    position: fixed;
    top: 0;
  }
}

@media (min-width: 1024px) {
  .logged-in #headerMenu {
    margin-top: 32px;
  }
}

.header-menu__nav-wrapper {
  >div>h3 {
    text-align: left;
    border: none;
    border-bottom: 2px solid #f8f8f8;
    padding: 15px 0;
  }

  .col--right>a {

    position: relative;
    top: 0px;
  }
}

.product-card-big__subtitle.text--coral {
  font-family: 'Circular Book';
  font-size: 17px;
  line-height: 23px;
  color: #535252;
  letter-spacing: 0.016em;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .header__menu-toggler {
    top: 5px;
  }

  .logged-in .header__menu-toggler {
    top: 36px;
  }
}

.footer__social>.footer__logo-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__logo {
  width: 178px;
  height: 70px;
}

.footer__copyright {
  font-size: 11px;
  letter-spacing: .5px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Circular Book';
  padding-top: 20px;
}

.page-description--whatson {
  .page-description__text {
    column-count: unset;
    column-gap: unset;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .page-description__text__col {
    flex: 1 1 50%;
    padding: 20px;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: #fa8371 !important;
  }

  ul li {
    margin-left: 17px;
    list-style: none;

    &:before {
      content: "•";
      color: #eb8977;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

@media (min-width: 992px) {
  .page-description--whatson .page-description__text__col {
    p {
      padding-bottom: 25px;
    }

    &:nth-child(1) {
      padding-right: 50px;
    }

    &:nth-child(2) {
      padding-left: 50px;
    }
  }

  .frontpage-cards h5.card-title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .page-description--whatson .page-description__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 991px) {
  .page-description--whatson .page-description__text__col {
    flex: 0 1 100%;
  }
}

@media (min-width: 768px) {
  .page-locations-desc__title {
    font-size: 38px;
  }
}

ol {
  counter-reset: item;

  li {
    display: block;

    &:before {
      content: counter(item) ". ";
      counter-increment: item;
      color: #eb8977;
    }
  }
}

.contact-tabs__pills .nav-link.active,
.contact-form form input.wpcf7-submit:hover,
.button--bg-coral,
.button--light-coral:hover,
.exhibitors-video .container .row .video-col a:hover {
  background-color: #FA665B;
  border: 1px solid #FA665B;
}

.button--bg-coral-bold:hover {
  color: #FA665B;
  border: 1px solid #FA665B;
}

.inspiration-section .owl-item {
  height: 340px;
  min-height: 380px;
}

.header-menu__social-panel.modal {
  top: 28px;
}

#wpcf7-f63633-o1 {
  .wpcf7-submit {
    font-size: 18px;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    left: 10px;
    width: 200px;
    font-size: 12px;
  }

  .wpcf7-captcha-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .wpcf7-not-valid-tip {
      position: absolute;
      width: 220px;
      margin-top: 78px;
    }
  }
}

.page-template-single-exhibitor.exhibit-lightbox-opened,
.page-template-template-exhibit.exhibit-lightbox-opened {
  overflow-y: hidden;
}

.page-template-single-exhibitor.exhibit-lightbox-opened .header,
.page-template-template-exhibit.exhibit-lightbox-opened .header {
  display: none;
}

@media (min-width: 992px) {
  .single-features .modal:not(.header-menu__social-panel) .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media (min-width: 1280px) {
  .single-features .modal {
    &:not(.header-menu__social-panel) .modal-dialog {
      width: 100% !important;
      max-width: 100% !important;
    }

    &.newsletter-modal .modal-dialog {
      max-width: 1090px !important;
    }
  }
}

.ekko-lightbox {
  .modal-dialog {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    border-bottom: none;
    min-height: 58px;

    .close {
      position: absolute;
      right: 1rem;
      top: 19px;
      /* margin: -1rem -1.2rem -2rem auto; */
      padding-top: .7rem;
      padding-bottom: 0;
      margin-bottom: -1rem;
    }

    .modal-title,
    h4 {
      display: none;
    }
  }

  .modal-body {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ekko-lightbox-container {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .ekko-lightbox-item {
        position: absolute;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;

        img {
          width: auto !important;
          max-height: 85%;
          padding: 0;
        }

        p {
          width: auto !important;
          max-height: auto !important;
          background: white;
        }
      }

      .ekko-lightbox-nav-overlay a {
        display: block;
        position: fixed;

        span {
          padding: 15px;
          color: white;
          font-weight: 300 !important;
        }

        &:first-child {
          top: 0;
          right: 85px;
          padding: 3px 16px 8px 16px;
        }

        &:last-child {
          top: 0;
          right: 48px;
          padding: 3px 16px 8px 16px;
        }
      }

      .modal-image-description {
        flex: 0 1 auto;
        background: white;
        width: 100% !important;
        padding: 10px;
        text-align: left;
      }
    }
  }
}

@media (max-width: 1023px) {
  .ekko-lightbox .modal-body .ekko-lightbox-container .ekko-lightbox-item img {
    max-height: 78vh;
  }
}

.newsletter-modal--popup {
  background: rgba(0, 0, 0, 0.4);

  .modal-body {
    padding: 36px 176px;
  }

  .modal-dialog {
    max-width: 1090px !important;
  }

  .modal-title {
    font-weight: 500;
    line-height: 46px;
    font-size: 34px;
  }

  .modal-subtitle {
    color: #FA8371;
    padding: 20px 0;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .modal-content {
    margin-top: 0;

    &::before {
      content: ' ';
      position: absolute;
      background-repeat: no-repeat;
      background-position: top left;
      width: 577px;
      height: 300px;
      background-size: contain;
      background-image: url("https://nationalweddingshow.co.uk/assets/img/dots-top-left.png");
      top: 0;
      left: 0;
      z-index: 0;
    }

    &::after {
      content: ' ';
      position: absolute;
      background-repeat: no-repeat;
      background-position: bottom right;
      width: 708px;
      height: 218px;
      background-size: contain;
      background-image: url("https://nationalweddingshow.co.uk/assets/img/dots-bottom-right.png");
      bottom: 0;
      right: 0;
      z-index: 0;
    }

    .modal-header {
      background: transparent;
      border: 0;
      min-height: 70px;

      button {
        position: absolute;
        right: 1rem;
        top: 1rem;

        span {
          color: #40261C !important;
        }
      }
    }

    .modal-body {
      z-index: 1;
      margin-bottom: 132px;
      padding-bottom: 0;

      form {
        border: 1px solid #E7E7E8;

        .newsletter-container {
          width: 620px;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: flex-start;
          margin: 0 auto;
          background: white;
          padding-bottom: 62px;

          .newsletter-row {
            padding-bottom: 15px;

            input[type="text"] {
              border: none;
              border: 1px solid #F0F2F4;
              width: 100%;
              padding: 18px;
              width: 100%;
              font-size: 19px;

              &::placeholder {
                color: #B9B4B4;
                font-style: italic;
              }
            }

            input[type="date"] {
              border: none;
              border: 1px solid #F0F2F4;
              width: 100%;
              padding: 18px;
              width: 100%;
              font-size: 19px;
              color: #B9B4B4;
              font-style: italic;

              &.has-value {
                font-style: normal;
                color: #000;
              }
            }

            select {
              height: 52px;
              background-color: #fff;
              border: 1px solid #F0F2F4;
              width: 100%;
              padding: 0 18px;
              color: #B9B4B4;
              font-style: italic;
              height: 66px;

              &::after {
                height: 100%;
                width: 50px;
                content: ' ';
                position: absolute;
                border-left: 1px solid #F0F2F4;
                background-image: url("https://nationalweddingshow.co.uk/assets/img/dots-bottom-right.png");
              }
            }
          }

          .checkbox-container {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            line-height: 16px;
            color: #535252;
            padding-bottom: 15px;
            padding-top: 5px;

            span {
              margin-left: 10px;
              margin-top: -2px;
            }

            input[type="submit"] {
              padding: 10px 40px 6px;
            }
          }

          .info-container {
            font-size: 12px;
            line-height: 16px;
            padding-left: 19px;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup {
    padding: 15px !important;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-dialog {
    padding: 0px;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-title {
    line-height: 25px;
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-subtitle {
    font-size: 15px;
    padding: 0 0 12px;
    margin-top: 0;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content {
    margin-top: 0 !important;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content::before {
    width: 351px;
    height: 90px;
    background-size: cover;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-header button {
    margin: -1rem -1rem -1rem auto;
    z-index: 1;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-body {
    padding: 13px !important;
    margin-bottom: 53px !important;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-body form .newsletter-container {
    width: 100% !important;
    padding: 20px;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-body form .newsletter-container .newsletter-row input[type="text"] {
    padding: 4px 10px;
    font-size: 11px;
    height: 37px;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-body form .newsletter-container .newsletter-row select {
    padding: 4px 10px;
    font-size: 11px;
    height: 37px;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-body form .newsletter-container .checkbox-container {
    font-size: 10px;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-body form .newsletter-container .checkbox-container input[type="submit"] {
    font-size: 13px;
  }
}

@media (max-width: 1023px) {
  .newsletter-modal--popup .modal-content .modal-body form .newsletter-container .g-recaptcha {
    margin-right: -14px;
  }
}

@media (min-width: 768px) {
  .home .page-hero .video-container {
    background-image: none !important;
  }
}

@media (max-width: 767px) {
  .exhibitor-list__title-top {
    min-height: 50px;
  }
}

.exhibitor-list__title-top.active::after {
  transform: rotate(90deg);
}

@media (max-width: 767px) {
  .exhibitor-list__title-top__toggleall {
    position: absolute;
    height: 50px;
    top: 14px;
    line-height: 50px;
    width: 100%;
    left: 0;
  }
}

@media (max-width: 767px) {
  .exhibitor-list__title-top::after {
    position: absolute;
    content: '';
    right: 28px;
    border-left: .25em solid #000;
    border-right: .25em solid transparent;
    border-bottom: .25em solid transparent;
    border-top: .25em solid transparent;
    vertical-align: 0;
    transition: .2s ease-in-out;
    margin: auto;
    height: 10px;
  }
}

@media (max-width: 767px) {
  .exhibitor-list .card .card-header {
    min-height: 50px;
  }
}

@media (max-width: 767px) {
  .exhibitor-list .card .card-header--featured {
    top: 0;
    left: 0;
    padding-right: 0 !important;
    background: #FA665B !important;
    position: relative !important;
    right: 58px;
    text-align: left;
    line-height: 40px;
    padding: 0 20px !important;
    color: white;
    min-height: 40px;
    height: 40px;
    font-size: 12px;
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .exhibitor-list .card .card-header .btn-link {
    font-size: 12px;
  }
}

.card-stand-list li {
  font-family: Helvetica Neue;
  color: #535252;
  font-size: 14px;
  line-height: 24px;
}

.page-numbers {
  color: #535252 !important;
  padding: 0 3px !important;

  &.current {
    font-weight: bold;
    color: #FA8371 !important;
  }

  &.next,
  &.prev {
    color: #FA8371 !important;
  }
}

.pagination {
  top: -16px;
  font-size: 14px;

  .page-numbers {

    &.dots,
    &:nth-last-child(2) {
      display: none;
    }
  }
}

.filter-section {
  input[type="checkbox"] {
    opacity: 0 !important;
  }

  .active-category {
    color: #FA8371 !important;
    font-weight: bold;
  }

  .select-block ul li {
    align-items: center;

    label {
      margin-bottom: 0;
      color: #535252;
      font-size: .875rem;
      line-height: 27px;
    }

    input[type=checkbox] {
      margin: 0 10px;
      -webkit-appearance: none;
      width: 13px;
      height: 13px;
      background-color: #F8F8F8;
      position: relative;
      outline: 0;

      &:checked:before {
        content: '✓';
        display: block;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1;
        color: #FA665B;
      }
    }
  }
}

.filter-col .row-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-nws {
  background-color: #FA665B;
  color: #FFF;
  border-radius: 0;
  font-weight: bold;
  padding: .75rem 1.375rem;
}

.btn-nws-small {
  background-color: #FA665B;
  color: #FFF;
  border-radius: 0;
  font-weight: bold;
}

.select-archives {
  input[type="checkbox"] {
    opacity: 0;
  }

  ul li[data-archive-current-item] a {
    font-weight: bold;
    color: #FA665B !important;
  }
}

.video-wrapper,
.video-header .image.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper .video-header__title,
.video-header .image.item .video-header__title {
  position: relative;
  display: block;
  margin: 0;
  top: 0;
  top: unset;
  margin-top: 20%;
  line-height: 1.125;
}

@media (min-width: 480px) {

  .video-wrapper .video-header__title,
  .video-header .image.item .video-header__title {
    margin-top: 15%;
  }
}

@media (min-width: 1024px) {

  .video-wrapper .video-header__title,
  .video-header .image.item .video-header__title {
    margin-top: 11%;
  }
}

@media (min-width: 1440px) {

  .video-wrapper .video-header__title,
  .video-header .image.item .video-header__title {
    margin-top: 8%;
  }
}

.video-wrapper .video-header__date,
.video-header .image.item .video-header__date {
  position: relative;
  display: block;
  margin: 0;
  top: 0;
  top: unset;
  margin-top: 1.5%;
}

@media (min-width: 480px) {

  .video-wrapper .video-header__date,
  .video-header .image.item .video-header__date {
    margin-top: 2%;
  }
}

@media (min-width: 1024px) {

  .video-wrapper .video-header__date,
  .video-header .image.item .video-header__date {
    margin-top: 10px;
  }
}

.video-wrapper .video-header__cta,
.video-header .image.item .video-header__cta {
  position: relative;
  display: block;
  margin: 0;
  top: 0;
  top: unset;
  left: 0;
  left: unset;
  right: 0;
  right: unset;
  transform: none;
  margin-top: 20px;
  max-width: 300px;
}

@media (min-width: 480px) {

  .video-wrapper .video-header__cta,
  .video-header .image.item .video-header__cta {
    margin-top: 2%;
  }
}

@media (min-width: 1024px) {

  .video-wrapper .video-header__cta,
  .video-header .image.item .video-header__cta {
    margin-top: 30px;
  }
}