.locations {
  padding: 47px 0 54px;

  .page-description__title {
    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  }
}

.location-card:not(.location-card--simple) {
  &__name {
    font-size: 19px;
    line-height: normal;
    font-weight: 500;
    color: $white;

    @include media-breakpoint-up(md) {
      display: block;
      color: $primary-dark;
      font-size: 26px;
      line-height: 30px;
    }
  }

  &__date {
    font-size: 15px;
    line-height: 19px;
    color: $accent-color;

    @include media-breakpoint-up(md) {
      color: $brown;
      font-size: 17px;
      line-height: 19px;
    }
  }

  &__arrow {
    margin-left: 8px;
    color: $white;

    @include media-breakpoint-up(md) {
      color: $brown;
    }
  }
}

.location-card {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 15px;

  &:hover {
    text-decoration: none;

    .location-card__wrapper {
      background-color: $primary;
    }

    .location-card__name {
      color: $white;
    }

    .location-card__date, .location-card__arrow {
      color: $accent-color;
    }

  }

  &__wrapper {
    padding: 14px 16px;
    border-bottom: none;
    background-color: $gray-5;
    height: calc(100% - 15px);
  }

  &__name {
    font-family: 'Freight';
    display: block;
    color: $primary-dark;
    font-size: 26px;
    line-height: 30px;
  }

  &__date {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: $brown;
    font-size: 17px;
    line-height: 19px;
  }

  &__arrow {
    color: $brown;
  }
}

.location-card--highlighted {
  &:hover {
    text-decoration: none;

    .location-card__wrapper {
      background-color: $accent-color;
    }

    .location-card__name {
      color: $white;
    }

    .location-card__date, .location-card__arrow {
      color: $primary;
    }

  }

  .location-card__wrapper {
    background-color: $primary;
  }

  .location-card__name {
    color: $white;
  }

  .location-card__date {
    //text-decoration: underline;
  }

  .location-card__arrow, .location-card__date {
    color: $accent-color;
  }

  .location-card__arrow {
    text-decoration: none;
  }
}

.location-card--simple, .location-card--highlighted {
  width: 70%;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(md) {
    width: 100%;
  }
}